.col1 {
	background-color: yellowgreen;
	color: white;
}
.col2 {
	background-color: lightblue;
	color: white
}
.nested-col-1 {
	background-color: yellow;
	color: white;
}
.nested-col-2 {
	background-color: blue;
	color: white;
}