* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
html {
	font-size: 10px;
	font-family: "Lato", Arial, sans-serif;

}
.back {
	width: 100%;
	height: 100vh;
	color: black;
	background: linear-gradient(-100deg, white, black, white, black);
	background-size: 400%, 400%;
	position: relative;
	animation: change 10s ease-in-out infinite;
	text-decoration: none;

}
.back h1 {
font-size: 5rem;
text-transform: uppercase;
letter-spacing: 2px;
border: 3px solid white;
position: absolute;
top: 50%;
left: 10%;
transform: translate(50%, -50%);
padding: 5rem 10rem;
border-radius: 30px;
transition: 0.5s;
cursor: pointer;
}
.back h1:hover {
	background-color: white;
}

@keyframes change {
	0% {
		background-position: 0 50%;

	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
.back h1 a {
	text-decoration: none;
	color: black;
}